body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.half-width{
    width: 42%;
    margin-left: 2%;
    padding-left: 2%;
}
.orange-highlight{
    color: #FBA24F;

}
h1{
    font-size: 60px;
    font-weight: 700;
    color: #575757;
}
.top-banner-bg .half-width .top-banner-content{
    font-size: 20px;
    font-weight: 400;
    color: #828282;
}
.btn-order-now{
    color: #fff;
    background-image: linear-gradient(45deg, #FBA24F, #FF1E1E);
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px ;
    box-shadow: 0 2px 30px #FC8F49;
    display: inline-block;
    margin-top: 30px;
}
.half-width img{
    width: 100%;
}
.about-bg .half-width img{
    width: 60%;
    margin-left: 20%;
}
.half-width h3, .recipes-section-heading h3{
    font-size: 48px;
    font-weight: 700;
    color: #707070;
}
.half-width p, .recipes-section-heading p{
    font-size: 18px;
    font-weight: 400;
    color: #18191F;
    line-height: 1.7rem;
}
.about-bg{
    background-image: url(images/shapes/7.png );
    background-repeat: no-repeat;
}
.recipes-section-heading{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}
.recipes-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.recipes-half-width{
    width: 39%;
    margin: auto;
    padding: 3%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
    height: 600px;
}
.recipes-half-width img{
    width: 100%;
    height: 400px;
}
.recipes-details h4{
    font-size: 28px;
    font-weight: 800;
    color: #18191F;
    margin: 0;
    padding: 0;
}
